.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #09d3ac;
}

#key-prompt {
	position: absolute;
	border: 2px solid white;
}

#enemy {
	width: 90%;
	height: 200px;
	top: 10px;
	display: inline-block;
	/* position: center; */
}

#player {
	bottom: 125px;
}

.area {
	border: 2px solid red;
}

.special-move {
	position: absolute;
	/* left: ; */
	/* display: inline; */
}

.sprite {
	position: absolute;
	border: 2px solid white;
	width: 100px;
	height: 100px;
	left: 600px;
	position: center;
	/* display: inline; */
}

.health {
	position: absolute;
	/* display: inline; */
	/* right: 100px; */
}
