#user-login {
	/* border: 2px solid red; */
	display: inline-block;
	/* vertical-align: middle; */
	padding: 219px 0;
}

#register-login-container {
	padding-top: 10px;
	font-size: 80%;
}

#register-link {
	/* float: left; */
	/* margin-top: 10px; */
	font-size: 100%;
	float: left;
}

#login-button {
	/* float: right; */
	/* margin-top: 10px; */
	font-size: 100%;
	float: right;
}

input {
	/* display: block; */
	padding: 5px;
}
